repos:
  - repo: https://github.com/raank/pre-commit-php.git
    rev: 1.1.0
    hooks:
      - id: php-lint

  - repo: https://github.com/raank/pre-commit-php.git
    rev: 1.1.0
    hooks:
      - id: php-lint-all

  - repo: https://github.com/raank/pre-commit-php.git
    rev: 1.1.0
    hooks:
      - id: php-cs-fixer
        files: \.(php)$
        args: [
            "--rules=@PSR12,@Symfony"
        ]

  - repo: https://github.com/raank/pre-commit-php.git
    rev: 1.1.0
    hooks:
      - id: php-cs
        files: \.(php)$
        args: [--standard=PSR12 -p]

  - repo: https://github.com/raank/pre-commit-php.git
    rev: 1.1.0
    hooks:
      - id: php-cs
        files: \.(php)$
        args: [--standard=PSR1 -p]

  - repo: https://github.com/raank/pre-commit-php.git
    rev: 1.1.0
    hooks:
      - id: php-stan
        files: \.(php)$

  - repo: https://github.com/raank/pre-commit-php.git
    rev: 1.1.0
    hooks:
      - id: php-md
        files: \.(php)$
        args: [
          "cleancode,codesize,controversial,design,naming,unusedcode"
        ]