includes:

parameters:
    level: 8

    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+|[a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\)#'

    excludePaths:
        - */vendor/*
        - */public/*

    checkMissingIterableValueType: false